.sign-up-form {
    display: flex;
    flex-direction: column;
    gap: to-rem(35);
    border-radius: to-rem(20);
    border: 2px solid var(--mantine-color-primary-9);
    padding: to-rem(70);
    width: 100%;
}
