.no-data-message__icon {
    color: var(--mantine-color-primary-9);
}

.no-data-message__title {
    font-weight: 700 !important;
    color: var(--mantine-color-primary-8);
}

.no-data-message__message {
    font-weight: 400;
    color: var(--mantine-color-primary-7) !important;
}